* {
  user-select: none;
}

h1,
h2,
h3,
p {
  color: #333333;
}

img {
  pointer-events: none;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url(../img/pink_bg.png);
  background-size: cover;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.sectionTitle {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid #333;

  .sectionTitle__img {
    width: 5%;
    margin: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .sectionTitle__sub {
    margin: 10px;
    font-size: 24px;
  }
}

.moreBtn {
  width: 100%;
  transform: translateX(50%);
  opacity: 0;
  transition: .5s ease-out;

  .more {
    position: relative;
    display: block;
    text-align: center;
    width: 10%;
    margin-left: auto;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: rgba(51, 51, 51, .3);
    margin-bottom: 50px;
    z-index: 2;
  }

  .more::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transform-origin: center center;
    transform: scale(0, 1);
    transition: .3s;
    background-color: #fff;
    z-index: -1;
  }

  .more:hover {
    color: rgb(65, 65, 65);
    font-weight: bold;
  }

  .more:hover::before {
    transform: scale(1, 1);
  }
}

.moreBtn.show {
  transform: translateX(0);
  opacity: 1;
}

.header {
  width: 90%;
  padding: 0 5%;
  height: 120px;
  margin: 0 auto;
  align-items: center;

  .headerTitle {
    font-family: 'M PLUS 1p', sans-serif;
    height: 60%;
    width: 20%;

    .headerTitle__top {
      font-size: 19px;
    }

    .headerTitle__bottom {
      font-size: 32px;
      font-family: 'Gayathri', sans-serif;
    }

    .wipe {
      width: 0;
      white-space: nowrap;
      overflow: hidden;
      transition: 1s ease-out;
    }

    .wipe.in {
      width: 100%;
    }
  }

  .headerNav {
    .headerNav__items {
      width: 100%;

      .headerNav__item {
        margin: 10px;
        cursor: pointer;
        transition: .3s;

        a {
          display: block;
          margin-right: 3px;
          padding: 10px 8px 10px 10px;
          width: 85%;
        }
      }

      .headerNav__item:hover {
        background-color: rgba(51, 51, 51, .3);
      }
    }
  }

  .headerMenu {
    display: none;
  }
}

.hamburger {
  display: none;
}

.mv {
  width: 80%;
  margin: 50px auto;

  .mv__slideShow {
    width: 100%;
    height: 500px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      object-fit: cover;
      position: absolute;
    }
  }
}

.footer {
  width: 90%;
  margin: 0 auto;

  .backToTop {
    position: fixed;
    bottom: 60px;
    right: 10%;
    width: 4%;
    z-index: 9;
    margin-left: auto;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .footer__content {
    text-align: center;
    margin: 60px 0 20px;
  }
}

@media screen and (max-width: 1024px) {

  .container.fix {
    height: auto;
    overflow: hidden;
  }

  .close {
    display: none;
  }

  .hamburger {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: -9;
    transition: .5s;
    width: 100vw;
    height: 85vh;
    padding-top: 15vh;
    display: flex;
    align-items: center;
    color: #333;

    .hamburger__items {
      text-align: center;
      width: 70%;
      margin: 0 auto 300px;

      .hamburger__item {
        margin: 50px 0;

        a {
          font-size: 34px;
        }
      }
    }
  }

  .hamburger.open {
    opacity: 1;
    visibility: visible;
    z-index: 99;
    background-color: #f5f5f5;
  }

  .header {
    height: 15vh;
    transition: .5s;

    .headerTitle {
      width: 50%;

      .headerTitle__top {
        font-size: 26px;
      }

      .headerTitle__bottom {
        font-size: 40px;
      }
    }

    .headerNav {
      display: none;
    }


    .headerMenu {
      display: block;
      width: 50%;
      height: 35px;

      .headerMenu__button {
        display: block;
        width: 9%;
        margin-left: auto;
        height: 35px;
        position: relative;

        .border {
          width: 40px;
          height: 3px;
          background-color: #333;
          transition: .5s ease;
          position: absolute;
          top: 50%;
          right: 0;
        }

        .border1 {
          top: 15%;
          transition: .3s ease-out;
        }

        .border1.open {
          top: 50%;
          transform: rotate(45deg);
        }

        .border2 {
          transition: .3s ease-out;
        }

        .border2.open {
          opacity: 0;
        }

        .border3 {
          top: 85%;
          transition: .3s ease-out;
        }

        .border3.open {
          top: 50%;
          transform: rotate(135deg);
        }
      }
    }
  }

  .header.white {
    background-color: #f5f5f5;
  }

  .mv {
    margin-bottom: 0;

    .mv__slideShow {
      height: 400px;

      img {
        height: 100%;
      }
    }
  }


  .footer {
    .backToTop {
      width: 8%;
    }
  }
}

@media screen and (max-width: 896px) {
  .moreBtn {
    .more {
      width: 20%;
    }
  }

  .mv {
    .mv__slideShow {
      img {
        border-radius: 10px;
      }
    }
  }

  .footer {
    .backToTop {
      width: 8%;
    }
  }
}

@media screen and (max-width: 480px) {

  .sectionTitle {
    .sectionTitle__img {
      width: 15%;
    }

    .sectionTitle__sub {
      font-size: 20px;
    }
  }

  .moreBtn {
    .more {
      width: 30%;
    }
  }

  .header {
    .headerTitle {
      width: 70%;
      height: 40%;

      .headerTitle__top {
        font-size: 14px;
      }

      .headerTitle__bottom {
        font-size: 32px;
      }
    }

    .headerMenu {
      width: 30%;

      .headerMenu__button {
        width: 30%;

        .border {
          width: 30px;
          height: 2px;
        }

        .border1 {
          top: 20%;
        }

        .border3 {
          top: 80%;
        }
      }
    }
  }

  .hamburger {
    .hamburger__items {
      .hamburger__item {
        margin: 25px 0;

        a {
          font-size: 20px;
        }
      }
    }
  }

  .mv {
    .mv__slideShow {
      height: 200px;

      img {
        height: 100%;
        border-radius: 5px;
      }
    }
  }

  .footer {
    .backToTop {
      display: none;
    }

    .footer__content {
      font-size: 14px;
      text-align: center;
      margin: 60px 0 20px;
    }
  }
}

@media screen and (max-width: 360px) {
  .moreBtn {
    .more {
      width: 30%;
      font-size: 14px;
    }
  }
}